version: '3'

services:
  simple-ai-core:
    build:
      context: .
      dockerfile: Dockerfile
    image: simple-ai-core
    container_name: simple_ai_core
    volumes:
      - .:/app
    ports:
      - "8080:8080"